@model ProsjektStyring.Models.ProjectControllerModels.IndexViewModel

@{
    ViewData["Title"] = "Prosjekter";
}

<h1>Prosjekter</h1>

<p>
    <a asp-action="CreateProject">Opprett nytt prosjekt</a>
</p>


@if (Model.ActiveProjects.Count > 0 && Model.CompletedProjects.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActiveProjects)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Endre", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Detaljer", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Slett", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompletedProjects)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Endre", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Detaljer", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Slett", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>Ingen prosjekter funnet!</h4>
}
