@model ProsjektStyring.Models.ProjectControllerModels.IndexViewModel

@{
    ViewData["Title"] = "Prosjekter";
}

<h1>Prosjekter</h1>

<p>
    <a asp-action="CreateProject">Opprett nytt prosjekt</a>
</p>

@if (Model.UnActivatedProjects.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Prosjekt</th>
                <th>Alternativer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UnActivatedProjects)
            {
                <tr>
                    <td>@item.ProjectName</td>
                    <td>
                        @Html.ActionLink("Endre", "edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Detaljer", "ViewProject", new { id = item.Unique_ProjectIdString }) |
                        @Html.ActionLink("Slett", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />
}

@if (Model.ActiveProjects.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Prosjekt</th>
                <th>Alternativer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActiveProjects)
            {
            <tr>
                <td>@item.ProjectName</td>
                <td>
                    @Html.ActionLink("Endre", "edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detaljer", "ViewProject", new { id = item.Unique_ProjectIdString }) |
                    @Html.ActionLink("Slett", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }
        </tbody>
    </table>

    <hr />
}
@if (Model.CompletedProjects.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Prosjekt</th>
                <th>Alternativer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CompletedProjects)
            {
            <tr>
                <td>@item.ProjectName</td>
                <td>
                    @Html.ActionLink("Endre", "edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detaljer", "ViewProject", new { id = item.Unique_ProjectIdString }) |
                    @Html.ActionLink("Slett", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }
        </tbody>
    </table>
}
@if(Model.UnActivatedProjects.Count == 0 && Model.CompletedProjects.Count == 0 && Model.ActiveProjects.Count == 0)
{
    <h4 style="color:red;">Ingen prosjekter funnet!</h4>
}
