@model ProsjektStyring.Models.ProjectControllerModels.ViewProjectViewModel

@{
    ViewData["Title"] = @Model.Project.ProjectName;
}

<div>
    <h4>Oversikt for @Model.Project.ProjectName</h4>
    <hr />
    <dl>
        <dd>@Model.Project.Unique_ProjectIdString</dd>
        <dd>@Model.Project.ProjectName</dd>
        <dd>@Model.Project.ProjectCreatedByUser</dd>
        <dd>@Model.Project.ProjectCycles.Count</dd>
        <dd>@Model.Project.ProjectComments.Count</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Tilbake til oversikten</a>
</div>
