@model ProsjektStyring.Models.ProjectControllerModels.ViewProjectCycleViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ProsjektStyring.Data.ApplicationUser> SignInManager
@inject UserManager<ProsjektStyring.Data.ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.ProjectCycle.Project.ProjectName + " - " + Model.ProjectCycle.CycleName;
}

@* error or success message *@
@await Html.PartialAsync("../Shared/_error_msg")

@* ProjectCycle details *@
<div class="row">
    <div class="container bg-light">
        <h4 class="text-center">@Model.ProjectCycle.Project.ProjectName - @Model.ProjectCycle.CycleName</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CycleName): </dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CycleName)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CycleActive): </dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CycleActive)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CycleNumber): </dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CycleNumber)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CycleRegistered):</dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CycleRegistered)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CyclePlannedStart):</dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CyclePlannedStart)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ProjectCycle.CyclePlannedEnd):</dt>
            <dd class="col-sm-4">@Html.DisplayFor(model => model.ProjectCycle.CyclePlannedEnd)</dd>
        </dl>
        <dl class="=row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ProjectCycle.CycleDescription):</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ProjectCycle.CycleDescription)</dd>
        </dl>
    </div>
</div>

<hr />

@* ProjectCycleTask details *@
<div class="row">
    <div class="container bg-light">
        <h4 class="text-center">Oppgaver for denne syklusen</h4>


            @if (Model.ProjectCycle.ProjectCycleTasks != null)
            {
                <table class="table table-hover" id="CT">
                    <thead>
                        <tr>
                            <th>
                                Navn
                            </th>
                            <th>
                                Beskrivelse
                            </th>
                            <th>
                                Frist
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProjectCycle.ProjectCycleTasks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.TaskName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.TaskDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.TaskDueDate)
                                </td>
                                @if (item.TaskCompleted)
                                {
                                    <td>
                                        Fullført
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Ikke fullført
                                    </td>
                                }
                                    <td>
                                        @Html.ActionLink("Detaljer", "ViewProjectCycleTask", new { id = item.Unique_TaskIdString }) |
                                        @Html.ActionLink("Endre", "EditProjectCycleTask", new { id = item.Unique_TaskIdString })
                                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5 class="text-center">Ingen oppgaver funnet!</h5>
            }

            <div class="col-lg-2 col-md-2 col-sm-2 offset-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCycleTaskModal">
                    Legg til flere oppgaver
                </button>
            </div>
            <div class="modal fade" id="addCycleTaskModal" tabindex="-1" role="dialog" aria-labelledby="addCycleTaskModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Legg til ny Oppgave</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                          
                            <form asp-action="AddCycleTask">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="taskName" class="control-label"></label>
                                <input asp-for="taskName" class="form-control" />
                                <span asp-validation-for="taskName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="taskDescription" class="control-label"></label>
                                <input asp-for="taskDescription" class="form-control" />
                                <span asp-validation-for="taskDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="tplannedHours" class="control-label"></label>
                                <input asp-for="tplannedHours" class="form-control" placeholder="i timer. Bruk desimaler for minutt" />
                                <span asp-validation-for="tplannedHours" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="tdueDate" class="control-label"></label>
                                <input asp-for="tdueDate" class="form-control" value="@DateTime.Now.Date"/>
                                <span asp-validation-for="tdueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="tprojectCycleId" class="form-control" value="@Model.ProjectCycle.Unique_CycleIdString" hidden />
                                <span asp-validation-for="tprojectCycleId" class="text-danger"></span>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                                <input type="submit" value="Legg til" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

@* ProjectCycleComments *@
<div class="row">
    <div class="container">
        <h4 class="text-center">Kommentarer til denne syklusen</h4>

        <div class="col-lg-12 col-md-12 col-sm-12" id="pComments">
            @if (Model.ProjectCycle.ProjectCycleComments != null)
            {
                foreach (var item in Model.ProjectCycle.ProjectCycleComments)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@item.CommentHeading</h5>
                            <p class="card-text">@item.Comment</p>
                            <p class="card-text"><small class="text-muted">@item.CommentRegistered - @item.ByUser</small></p>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5 class="text-center">Ingen kommentarer registrert!</h5>
            }
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 offset-10">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCommentModal">
                Legg til ny kommentar
            </button>
        </div>
        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Legg til en ny kommentar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Overskrift:</label>
                        <input class="form-control" placeholder="Din overskrift" id="CommentHeadline" />
                        <label>Kommentar:</label>
                        <textarea class="form-control" id="CommentText" rows="3" placeholder="Din kommentar..."></textarea>

                        <hr />
                        <label>Opprettet av:</label>
                        <input class="form-control" value="@User.Identity.Name" id="CommentMadeBy" disabled />
                        <input class="form-control" value="@Model.ProjectCycle.Unique_CycleIdString" id="CProjectCycleId" hidden />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary" onclick="addComment()" data-dismiss="modal">Legg til</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="row">
    @Html.ActionLink("Tilbake til " + Model.ProjectCycle.Project.ProjectName, "ViewProject", new { id = Model.ProjectCycle.Project.Unique_ProjectIdString })
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/datatables-1.10.19/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-1.10.19/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/viewprojectcycle.js"></script>
    <script>
        $(document).ready(function () {
            $('#CT').DataTable({
                "language": {
                    "lengthMenu": "Vis _MENU_ oppgaver per side",
                    "zeroRecords": "Ingen oppgaver funnet!",
                    "info": "Viser side _PAGE_ av _PAGES_",
                    "infoEmpty": "N/A",
                    "infoFiltered": "(filtrert ut fra _MAX_ oppgaver)",
                    "search": "S&oslash;k:",
                    "sProcessing": "Jobber...",
                    "sLoadingRecords": "Laster data...",
                    "sEmptyTable": "Ingen oppgaver funnet!",
                    "paginate": {
                        "previous": "Forrige",
                        "next": "Neste",
                        "first": "F&oslash;rste",
                        "last": "Siste"
                    },
                    "oAria": {
                        "sSortAscending": ": Sorter stigende",
                        "sSortDescending": ": Sorter synkende"
                    }
                }
            });
        });
    </script>

}